.cases-container {
    position: relative;
    height: 90vh;
    width: 100%;    
    margin: 0 auto;
}

.cases-container .cases-header {
    display: flex;
    width: 100%;
    align-items: center;
    height: 60px;
    border-bottom: 2px solid #bd93f9;
}

.cases-container .cases-header img {
    margin-left: 0px;
    margin-right: 5px;
    width: 150px;
}

.cases-container .cases-header h1 {
    background: transparent;
    color: #f8f8f2;
    width: 100%;
    font-size: 25px;
}

.cases-container .cases-header button {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    background: transparent;
    border-radius: 5px;
    border: #333;
    transition: background-color 0.2s;
}

.cases-container .cases-header button:hover {
    background-color: #ccc;
}

.cases-container .search-country {
    display: flex;
    flex-direction: row;
    align-items: top;
    min-height: 100%;
    max-height: 100%;
}

.cases-container .search-country form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 20%;
    border-right: solid #FFF;
    border-width: 5px;
    padding: 5px;
}

.cases-container .search-country form input {
    width: 100%;
    height: 40px;
    color: #333;
    margin: 10px 10px;
}

.countries-list {
    background-color: #FFF;
    overflow:hidden; 
    overflow-y:scroll;
    list-style: none;
    border-radius: 10px;
    height: 100%;
    max-height: 608px;
    width: 100%;
}

.countries-list li {
    cursor: pointer;
    padding: 10px;
    font-size: 24;
    transition: background-color 0.2s;
}

.countries-list li:hover {
    background-color: gray;
    color: #FFF;
}

.cases-container .search-country .info-corona-virus {
    box-sizing: border-box;
    width: 80%;
    padding: 50px;
    margin: 50px;
    border-radius: 8px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 1);;
    background-color: #6272a4;
    font-size: 50px;

    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}

.cases-container .search-country .info-corona-virus h1 {
    background-color: transparent;
    font-size: 60px;
    align-self: center;
    color: #ff79c6;
}


.cases-container .search-country .info-corona-virus p + p {
    font-size: 24px;
    color: #FFF;
    margin-top: 20px;
}

.cases-container .search-country .info-corona-virus p {
    font-size: 24px;
    color: #FFF;
}

.cases-container .search-country .info-corona-virus span:nth-child(5) {
    color: #ff5555;
} 

.cases-container .search-country .info-corona-virus span {
    color: #50fa7b;
} 




